# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
# to get the latest compatible packages when creating the project https://github.com/pnpm/pnpm/issues/6463
resolution-mode=highest

registry=https://repo.asredanesh.com/repository/npm/
publishRegistry=https://repo1.asredanesh.com/repository/npm-hosted/
always-auth=true
//repo1.asredanesh.com/repository/npm/:_auth=${NPM_TOKEN}
//repo1.asredanesh.com/repository/npm-hosted/:_auth=${NPM_TOKEN}
